<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-graduation-cap"></i> <b>Ficha de Centro Educativo</b></h2>
        <ol class="breadcrumb">
            <li>
                Inicio
            </li>
            <li>
                <a [routerLink]="['/plataforma/buscar_centro']">Ficha de Centro Educativo</a>
            </li>
            <li class="active">
                <strong>{{centro_educativo.nombre_centro}}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row extra-margin-bot25">
        <div class="col-xs-12 no-padding">
        	<div class="ficha-component">
	            <div class="ficha-component-title">
	                <h3 class="no-margins text-center"><b><i class="fa fa-"></i> Datos Generales</b></h3>
	            </div>
	            <div class="ficha-component-content">
	                <div class="row">
	                	<div class = "col-md-6 col-lg-4">
			            	<h3 class="text-center"><b><i class="fa fa-map-marker"></i> Ubicación</b></h3>
			            	<img class = "map-logo" src="{{'./assets/images/departamentos/'+select_departamento_url(centro_educativo.departamento_codigo)+'.png'}}">
			                <h4 class="text-center">{{centro_educativo.departamento}}, {{centro_educativo.municipio}}</h4>
			                <h4 class="text-center bottom-text-margins">Aldea: {{centro_educativo.aldea}}</h4>
				        </div>
				        <div class = "col-md-6 col-lg-8">
				        	<div class="row">
					        	<div class="col-sm-6  col-md-6 col-lg-4 extra-margin-bot">
					        		<h3><b><i class="fa fa-codepen"></i> Código</b></h3>
					        		<input type="text" class="form-control" value="{{centro_educativo.codigo_centro}}" readonly>
					        	</div>
					        	<div class="col-sm-6 col-md-6 col-lg-4 extra-margin-bot">
					        		<h3><b><i class="fa fa-balance-scale"></i> Administración</b></h3>
					        		<input type="text" class="form-control" value="{{centro_educativo.administracion}}" readonly>
					        	</div>
					        	<div class="col-sm-6 col-md-6 col-lg-4 extra-margin-bot">
					        		<h3><b><i class="fa fa-map-signs"></i> Zona</b></h3>
					        		<input type="text" class="form-control" value="{{centro_educativo.zona}}" readonly>
					        	</div>
					        	<div class="col-sm-6 col-md-6 col-lg-4 extra-margin-bot">
					        		<h3><b><i class="fa fa-phone"></i> Teléfono</b></h3>
					        		<input type="text" class="form-control" value="{{centro_educativo.tel_centro}}" readonly>
					        	</div>
					        	<div class="col-sm-12 col-md-12 col-lg-8 extra-margin-bot">
					        		<h3><b><i class="fa fa-envelope"></i> Correo Electrónico</b></h3>
					        		<input type="text" class="form-control" value="{{centro_educativo.correo_centro}}" readonly>
					        	</div>
					        	<div class="col-md-12">
					        		<h3><b><i class="fa fa-home"></i> Dirección</b></h3>
					        		<textarea type="text" class="form-control" value="{{centro_educativo.direccion}}" readonly rows="3"></textarea>
					        	</div>
					        </div>
				        </div>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 no-padding">
        	<div class="ficha-component">
	            <div class="ficha-component-title">
	                <h3 class="no-margins text-center"><b><i class="fa fa-"></i> Estadísticas de Matrícula y Deserción</b></h3>
	            </div>
	            <div class="ficha-component-content">
	            	<div class="row">
	            		<div class="col-xs-12">
	            			 <div class="row">
			                	<div class="col-xs-12">
			                		<h3 class="text-center"><i class="fa fa-calendar fa-2x"></i></h3>
			                		<h3 class="text-center"><b>Periodo</b></h3>
			                	</div>
			                	<div class="col-xs-12">
					                <div class="no-margins noselect" *ngIf="matricula_grado_genero_years.length>0">
					                    <h2 class="text-center no-margins"><b><i class="fa fa-arrow-left extra-margin-right-10" [ngClass]="{'year-arrow':year_offset>0, 'year-arrow-inactive':year_offset==0}" (click)="year_offset_left()"></i>{{matricula_grado_genero_years[year_offset]}}</b><i class="fa fa-arrow-right extra-margin-left-10" [ngClass]="{'year-arrow':year_offset < matricula_grado_genero_years.length-1, 'year-arrow-inactive':year_offset >= matricula_grado_genero_years.length-1}" (click)="year_offset_right()"></i></h2>
					                </div>
			                	</div>
			                </div>
	            		</div>
	            		<div class="col-lg-6">
	            			<div class="row">
	            				<div class="col-xs-12">
	            					<h3 class="text-center extra-margin-top30"><b><i class="fa fa-bar-chart"></i> Matrícula Inicial por Grado y Género</b></h3>
	            				</div>
	            			</div>
	            			<div class="row">
	            				<div class="col-xs-12">
			            			<div class="matricula-chart">
									    <canvas baseChart
									            [datasets]="barChartData"
									            [labels]="barChartLabels"
									            [options]="barChartOptions"
									            [legend]="barChartLegend"
									            [chartType]="barChartType"
									            (chartHover)="chartHovered($event)"
									            (chartClick)="chartClicked($event)">       
									    </canvas>
								  	</div>
							  	</div>
						  	</div>
	            		</div>
	            		<div class="col-lg-6">
	            			<div class="row">
	            				<div class="col-xs-12">
	            					<h3 class="text-center extra-margin-top30"><b><i class="fa fa-bar-chart"></i> Matrícula Inicial por Grado y Género</b></h3>
	            				</div>
	            			</div>
	            			<div class="row">
	            				<div class="col-xs-12">
	            					<div class = "table-responsive">
							            <table class="table table-bordered table-hover matricula-table table-padding">
							                <thead>
							                    <tr>
							                        <th class="text-center col-md-4 matricula-table-header-element"><b>Grado</b></th>
							                        <th class="text-center col-md-2 matricula-table-header-element"><b>F</b></th>
							                        <th class="text-center col-md-2 matricula-table-header-element"><b>M</b></th>
							                        <th class="text-center col-md-2 matricula-table-header-element"><b>Total</b></th>
							                    </tr>
							                </thead>
							                <tfoot>
					                        <tr>
					                            <td class="matricula-table-element text-center matricula-table-total-cell"><b>Total</b></td>
					                            <td class="matricula-table-element text-center matricula-table-total-cell"><b>{{(suma_total_femenino()).toLocaleString()}}</b></td>
					                            <td class="matricula-table-element text-center matricula-table-total-cell"><b>{{(suma_total_masculino()).toLocaleString()}}</b></td>
					                            <td class="matricula-table-element text-center matricula-table-total-cell"><b>{{(suma_total_masculino() + suma_total_femenino()).toLocaleString()}}</b></td>
					                        </tr>
					                        </tfoot>
							                <tbody>
							                    <tr *ngFor = "let grado of matricula_selected_year">
							                        <td class="matricula-table-element text-center">{{grado.nombre_grado}}</td>
							                        <td class="matricula-table-element text-center">{{(grado.matricula_f).toLocaleString()}}</td>
							                        <td class="matricula-table-element text-center">{{(grado.matricula_m).toLocaleString()}}</td>
							                        <td class="matricula-table-element text-center matricula-table-total-cell"><b>{{(grado.matricula_total).toLocaleString()}}</b></td>
							                    </tr>
							                </tbody>
							            </table>
							        </div>
	            				</div>
	            			</div>
	            		</div>
	            	</div>
	            </div>
	        </div>
        </div>
    </div>
</div>
