<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-graduation-cap"></i> <b>Ficha de Centro Educativo</b></h2>
        <ol class="breadcrumb">
            <li class="active">
                En esta sección se muestran las fichas informativas correspondientes a cada Centro Educativo.
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
	<div class="row animated fadeInRight">
    	<div class="col-xs-12">
	        <div class="widget navy-bg">
	            <div class="row">
	                <h2 class="font-bold text-center small-margins"><i class="fa fa-institution"></i> {{centro_educativo.nombre_centro}}</h2>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="row animated fadeInRight">
		<div class = "col-md-4 no-padding">
	    	<div class = "col-xs-12">
	        	<div class="widget white-bg no-padding">
		            <div class="p-m">
		            	<h2 class="font-bold no-margins text-center"><i class="fa fa-map-marker"></i> Ubicación</h2>
		            	<img class = "search-logo" src="{{'./assets/images/departamentos/'+select_departamento_url(centro_educativo.departamento_codigo)+'.png'}}">
		                
		                <h3 class="text-center">{{centro_educativo.departamento}}, {{centro_educativo.municipio}}</h3>
		                <h4 class="text-center">Aldea: {{centro_educativo.aldea}}</h4>
		            </div>
		        </div>
	        </div>
        </div>	
        <div class = "col-md-8 no-padding">
	        <div class="col-xs-6">
		        <div class="widget style1 white-bg">
		            <div class="row">
		                <div class="col-xs-2">
		                    <i class="fa fa-codepen fa-2x"></i>
		                </div>
		                <div class="col-xs-10 text-right">
		                    <span> Código </span>
		                    <h3 class="font-bold no-margins">{{centro_educativo.codigo_centro}}</h3>
		                </div>
		            </div>
		        </div>
		    </div>
	        <div class="col-xs-6">
		        <div class="widget style1 white-bg">
		            <div class="row">
		                <div class="col-xs-2">
		                    <i class="fa fa-phone fa-2x"></i>
		                </div>
		                <div class="col-xs-10 text-right">
		                    <span> Teléfono </span>
		                    <h3 class="font-bold no-margins">{{centro_educativo.tel_centro}}</h3>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="col-xs-12">
		        <div class="widget style1 white-bg">
		            <div class="row">
		                <div class="col-xs-2">
		                    <i class="fa fa-home fa-2x"></i>
		                </div>
		                <div class="col-xs-10 text-right">
		                    <span> Dirección </span>
		                    <h3 class="font-bold no-margins">{{centro_educativo.direccion}}</h3>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="col-xs-12">
		        <div class="widget style1 white-bg">
		            <div class="row">
		                <div class="col-xs-2">
		                    <i class="fa fa-envelope fa-2x"></i>
		                </div>
		                <div class="col-xs-10 text-right">
		                    <span> Correo de Contacto </span>
		                    <h3 class="font-bold no-margins">{{centro_educativo.correo_centro}}</h3>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="col-xs-6">
		        <div class="widget style1 white-bg">
		            <div class="row">
		                <div class="col-xs-2">
		                    <i class="fa fa-balance-scale fa-2x"></i>
		                </div>
		                <div class="col-xs-10 text-right">
		                    <span> Administración </span>
		                    <h3 class="font-bold no-margins">{{centro_educativo.administracion}}</h3>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="col-xs-6">
		        <div class="widget style1 white-bg">
		            <div class="row">
		                <div class="col-xs-2">
		                    <i class="fa fa-map-signs fa-2x"></i>
		                </div>
		                <div class="col-xs-10 text-right">
		                    <span> Zona </span>
		                    <h3 class="font-bold no-margins">{{centro_educativo.zona}}</h3>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="row animated fadeInRight">
		<div class="col-md-4">
	        <div class="widget lazur-bg text-center hover-hand" (click)="infraestructura_modal.show()">
	            <div>
	                <h3 class="font-bold no-margins">
	                    Infraestructura
	                </h3>
	                Estadísticas de Infraestructura
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="widget lazur-bg text-center hover-hand" (click)="docentes_modal.show()">
	            <div>
	                <h3 class="font-bold no-margins">
	                    Docentes
	                </h3>
	                Estadísticas de Docentes
	            </div>
	        </div>
	    </div>
	    <div class="col-md-4">
	        <div class="widget lazur-bg text-center hover-hand" (click)="oferta_modal.show()">
	            <div>
	                <h3 class="font-bold no-margins">
	                    Oferta
	                </h3>
	                Oferta del Centro
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div bsModal #infraestructura_modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-center"><strong>Estadísticas de Infraestructura</strong></h2>
            </div>
            <div class="modal-body">

                <div class="row">
                	<div class = "col-xs-3 extra-padding-top">
                    </div>
                    <div class = "col-xs-6 extra-padding-top">
                        <button (click)="infraestructura_modal.hide()" class="btn btn-danger logo"><i class="fa fa-close"></i> Cerrar</button>
                    </div>
                    <div class = "col-xs-3 extra-padding-top">
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <div bsModal #docentes_modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-center"><strong>Estadísticas de Docentes</strong></h2>
            </div>
            <div class="modal-body">

                <div class="row">
                	<div class = "col-xs-3 extra-padding-top">
                    </div>
                    <div class = "col-xs-6 extra-padding-top">
                        <button (click)="docentes_modal.hide()" class="btn btn-danger logo"><i class="fa fa-close"></i> Cerrar</button>
                    </div>
                    <div class = "col-xs-3 extra-padding-top">
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <div bsModal #oferta_modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-center"><strong>Oferta de Centro</strong></h2>
            </div>
            <div class="modal-body">

                <div class="row">
                	<div class = "col-xs-3 extra-padding-top">
                    </div>
                    <div class = "col-xs-6 extra-padding-top">
                        <button (click)="oferta_modal.hide()" class="btn btn-danger logo"><i class="fa fa-close"></i> Cerrar</button>
                    </div>
                    <div class = "col-xs-3 extra-padding-top">
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>