<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-graduation-cap"></i> <b>Ficha de Centro Educativo</b></h2>
        <ol class="breadcrumb">
            <li>
                Inicio
            </li>
            <li class="active">
                <strong>Ficha de Centro Educativo</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="forma-centro-box text-center hover-hand-border" [routerLink]="['/plataforma/filtrar_centro']">
                <img class = "forma-centro-image" src="./assets/images/search.png">
                <div class="forma-centro-box-text">
                    <h3 class="text-center"><b>Búsqueda de Centro Educativo por Filtro</b></h3>
                    <p class="text-center">Busca la ficha de un Centro Educativo específico por medio de un filtro de localización y código de centro educativo.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="forma-centro-box text-center hover-hand-border" [routerLink]="['/plataforma/mapa_centros']">
                <img class = "forma-centro-image" src="./assets/images/map.png">       
                <div class="forma-centro-box-text">
                    <h3 class="text-center"><b>Búsqueda de Centro Educativo por Mapa</b></h3>
                    <p class="text-center">Busca la ficha de un Centro Educativo específico por medio de sus coordenadas dentro de un mapa virtual interactivo.</p>
                </div>
            </div>
        </div>
    </div> 
</div>