<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-bar-chart"></i> <b>Reportes de Alumnos por Matrícula y Deserción</b></h2>
        <ol class="breadcrumb">
            <li class="active">
                Esta sección contiene los diferentes reportes que muestran el número de estudiantes que se matricularon en base a diferentes parámetros. 
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
           <div class="file-box">
                <div class="file hover-hand-border2" [routerLink]="['/plataforma/empty']">
                    <div class="image">
                        <img alt="image" class="img-responsive" src="./assets/images/404.png">
                    </div>
                    <div class="file-name text-center bordered-hover">
                        <h4>Aprobación y Reprobación</h4>
                    </div>
                </div>
            </div>
            <div class="file-box">
                <div class="file hover-hand-border2" [routerLink]="['/plataforma/empty']">
                    <div class="image">
                        <img alt="image" class="img-responsive" src="./assets/images/404.png">
                    </div>
                    <div class="file-name text-center bordered-hover">
                        <h4>Listado de Estudiantes Reprobados</h4>
                    </div>
                </div>
            </div>
            <div class="file-box">
                <div class="file hover-hand-border2" [routerLink]="['/plataforma/empty']">
                    <div class="image">
                        <img alt="image" class="img-responsive" src="./assets/images/404.png">
                    </div>
                    <div class="file-name text-center bordered-hover">
                        <h4>Listado de Estudiantes en Peligro de Reprobar</h4>
                    </div>
                </div>
            </div>
            <div class="file-box">
                <div class="file hover-hand-border2" [routerLink]="['/plataforma/empty']">
                    <div class="image">
                        <img alt="image" class="img-responsive" src="./assets/images/404.png">
                    </div>
                    <div class="file-name text-center bordered-hover">
                        <h4>Repitencia por Grado y Centro</h4>
                    </div>
                </div>
            </div>
            <div class="file-box">
                <div class="file hover-hand-border2" [routerLink]="['/plataforma/empty']">
                    <div class="image">
                        <img alt="image" class="img-responsive" src="./assets/images/404.png">
                    </div>
                    <div class="file-name text-center bordered-hover">
                        <h4>Responsabilidades de Docentes</h4>
                    </div>
                </div>
            </div>
            <div class="file-box">
                <div class="file hover-hand-border2" [routerLink]="['/plataforma/empty']">
                    <div class="image">
                        <img alt="image" class="img-responsive" src="./assets/images/404.png">
                    </div>
                    <div class="file-name text-center bordered-hover">
                        <h4>Responsabilidades de Director y Centro</h4>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>