.estadistica-box{
	border-radius: 5px;
	margin-bottom:15px;
	border: 1px solid $border-color;
	background-color:#FFF;
}

.estadistica-box-image{
	width:100%;
	height:auto;
	border-radius:5px 0px 0px 5px;
	
}

.estadistica-box-content{
	border-radius:0px 5px 5px 0px;
	display:grid;
}

@media (max-width: 576px) {
	.estadistica-box-image{
		
	}
}
