.hover-hand-border{
    cursor: pointer;
    transition:all 0.3s ease;
}

.hand-on-hover{
  cursor:pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



.hover-hand-border:hover{
    box-shadow: inset 0 0 0 5px #A9E2F3;
}

.hover-hand-border:active{
    border:0px !important;
}

*:focus {
    outline: none;
}


.no-right-padding{
	padding-right:0px !important;
}

.no-left-padding{
	padding-left:0px !important;
}

.no-side-padding{
	padding-left:0px !important;
	padding-right:0px !important;
}

.aligned-text{
	margin:auto;
}

.column-height{
	display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.form-group {
    margin-bottom: 5px !important;
}

.small-margins{
  margin-top:0px !important;
  margin-bottom:0px !important;
}

.blue-background{
  background-color:#81BEF7 !important;
  color: #fff;
}

.green-navy-background{
  background-color:#1ab394;
  color:#fff;
}


.dark-blue-background{
  background-color:#154360;
  color: #fff;
}

.green-background{
  background-color:#F3E2A9 !important;
  color: #fff;
}

.green-code{
  color: #04B486;
}

.navy-code{
  color:#2E75B6;
}

.blue-code{
  color: #01A9DB;
}

.orange-code{
  color: #FF7E46;
}

.code-font{
  font-size:20px;
}

.custom-gray-bg{
  background-color: #2E2E2E !important;
}

.user-icon{
  width:100px;
}

.showing{
  margin-left:10px;
}

.feed-footer{
  margin-top:10px;
}

.extra-margin-bottom{
  margin-bottom:15px;
}

.extra-margin-top5{
  margin-top:5px;
}

.extra-margin-top{
  margin-top:15px;
}

.extra-margin-top30{
  margin-top:35px;
}

.extra-margin-top31{
  margin-top:31px;
}

.extra-margin-left{
  margin-left:25px;
}

.extra-padding-top{
  padding-top:15px;
}

.extra-padding-top10{
  padding-top:10px;
}

.extra-padding-top20{
  padding-top:20px;
}

.less-padding{
  padding: 5px 5px 5px 5px !important;
}

.big-text{
  font-size:15px;
}

.logo{
  width:100%;
}

.main-button{
  width:100%;
}

.white-text{
  color:#fff !important;
}

.blue-text{
  color:#2E75B6;
}

.gray-text{
  color:#676a6c;
}

.inherit-logo{
  width:inherit;
}