.centro-mapa-box{
  background-color:#01A9DB;
}

.centro-mapa-box-map{
  height:400px;
}

.centro-mapa-box-info{
	height:400px;
}

.centro-mapa-box-info-title{
	color:#2E75B6;
	font-size:15px;
}

.centro-mapa-box-info-input{
	padding-top:10px;
}