.ficha-component{
  border: 1px solid $border-color;
  border-radius: 5px;
  margin-left:10px;
  margin-right:10px;
}

.container-margin-bot{
  margin-bottom:15px;
}

.title-collapsed{
  border-radius: 5px !important;
}

.menu-container{

}

.menu-start{
  display:inline-block;
  vertical-align:top;
  width:20px;
  height:70px;
  padding:5px;
  color:#E5E8E8;
}

.menu-item{
  display:inline-block;
  vertical-align:top;
  width:70px;
  height:70px;
  padding:5px;
  cursor:pointer;
}

.menu-item:hover{
  background-color:#F4F6F6;
}

.expand-item-icon{
  color:#2980B9;
  margin-bottom:5px !important;
  margin-top:0px !important;
  margin-left:0px !important;
  margin-right:0px !important;
}

.collapse-item-icon{
  color:#CD6155;
  margin-bottom:5px !important;
  margin-top:0px !important;
  margin-left:0px !important;
  margin-right:0px !important;
}

.print-item-icon{
  color:#808B96;
  margin-bottom:5px !important;
  margin-top:0px !important;
  margin-left:0px !important;
  margin-right:0px !important;
}

.pdf-item-icon{
  color:#E59866;
  margin-bottom:5px !important;
  margin-top:0px !important;
  margin-left:0px !important;
  margin-right:0px !important;
}

.excel-item-icon{
  color:#229954;
  margin-bottom:5px !important;
  margin-top:0px !important;
  margin-left:0px !important;
  margin-right:0px !important;
}

.expand-item{

}

.collapse-item{

}

.print-item{

}

.pdf-item{

}

.excel-item{

}

.level-container{
  text-align:center;
}

.level-item{
  display:inline-block;
  width:120px;
  margin-left:10px;
  margin-right:10px;
}



.ficha-component-content{
  border-radius: 0px 0px 5px 5px;
  background-color: $ibox-content-bg;
  color: inherit;
  padding: 20px 20px 20px 20px;
  border-color: $border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.underlined-title{
  text-decoration:underline;
}

.ficha-component-title{
  border-radius: 5px 5px 0px 0px;
  background-color: $ibox-title-bg;
  border-color: #81BEF7;
  border-image: none;
  border-style: solid solid none;
  border-width: 2px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 15px 7px;
  min-height: 48px;
}

.ficha-component-no-border-no-radius{
  border-color: $border-color;
  border-image: none;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 0px 0px;
  margin-left:10px;
  margin-right:10px;
}


.ficha-component-title-no-border-no-radius{
  border-radius: 0px 0px 0px 0px;
  background-color: $ibox-title-bg;
  margin-bottom: 0;
  padding: 10px;

}

.ficha-component-content-no-border-no-radius{
  border-radius: 0px 0px 0px 0px;
  background-color: $ibox-content-bg;
  color: inherit;
  padding: 20px 20px 20px 20px;
  border-color: $border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.ficha-component-no-border-no-bottom{
  border-color: $border-color;
  border-image: none;
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px 5px 0px 0px;
  margin-left:10px;
  margin-right:10px;
}

.extra-margin-bot{
  margin-bottom:10px;
}

.table-padding > tbody > tr > th{
  padding: 6px !important; 
}

.table-padding > tfoot > tr > th{
  padding: 6px !important; 
}

.icon-danger{
  color:#ED5565;
}

.icon-success{
  color:#04B45F;
}

.table-padding > thead > tr > td{
  padding: 6px !important; 
}

.table-padding > tbody > tr > td{
  padding: 6px !important; 
}

.table-padding > tfoot > tr > td{
  padding: 6px !important; 
}

.matricula-table-total-cell{
  background-color:#E0F2F7;
}

.matricula-chart{
  display: block;
  height:350px;
}

.extra-margin-bot25{
  margin-bottom:25px;
}

.extra-margin-left-10{
  margin-left:10px;
}

.extra-margin-right-10{
  margin-right:10px;
}

textarea {
    resize: none;
}

.bottom-text-margins{
  margin-top:0px !important;
  margin-bottom:15px !important;
}


.ficha-centro-arrow {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color:#fff;
  border: 1px solid $border-color;

}

.year-arrow{
  color:#2E75B6;
}



.year-arrow-inactive{
  color:#BDBDBD;
}

.year-arrow:hover{
  cursor: pointer;
  color:#2ECCFA;
}


.map-logo{
  width:100%;
}

.margin-title{
  margin-bottom:15px !important; 
}

.matricula-sort{
    cursor: pointer;
    
}

.matricula-table-header-element{
    border: 1px solid #BEC0C1 !important;
    background-color:#D8D8D8 !important;
}

.matricula-sort-active{
    color:#000 !important;
}

.matricula-table-element{
    border-color: #BEC0C1 !important;
}