.autentication-title{
  color: #475BA7;
  margin-top:30px;
}

.autentication-logo{
  width:100%;
}

.autentication-box{
  width: 300px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}


.autentication-box h1 {
  font-size: 170px;
}

.wrapper .autentication-box {
  margin-top: 140px;
}

.autentication-button{
  padding: 5px 5px 5px 5px !important;
  width: 100% !important;
}
