<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-bar-chart"></i> <b>Reportes Estadísticos</b></h2>
        <ol class="breadcrumb">
            <li>
                Inicio
            </li>
            <li class="active">
                <strong>Estadísticas</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-6">
            <div class="estadistica-box hover-hand-border" [routerLink]="['/plataforma/matricula']">
                <div class="row column-height">
                    <div class="col-xs-4 no-right-padding">
                        <img class = "estadistica-box-image" src="./assets/images/matricula_general.png">
                    </div>
                    <div class="col-xs-8 no-left-padding estadistica-box-content">
                        <h3 class="aligned-text text-center">
                            <b>Reportes de Alumnos por Matrícula y Deserción</b>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="estadistica-box hover-hand-border" [routerLink]="['/plataforma/rendimiento']">
                <div class="row column-height">
                    <div class="col-xs-4 no-right-padding">
                        <img class = "estadistica-box-image" src="./assets/images/matricula_edades.png">
                    </div>
                    <div class="col-xs-8 no-left-padding estadistica-box-content">
                        <h3 class="aligned-text text-center">
                            <b>Reportes de Alumnos Rendimiento y Repitencia</b>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
         
