// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Variables, Mixins
@import "imports/variables";

// Elements
@import "imports/modulo_autenticacion";
@import "imports/modulo_ficha_centro";
@import "imports/modulo_filtro_centro";
@import "imports/modulo_mapa_centro";
@import "imports/modulo_forma_centro";
@import "imports/modulo_rendimiento";
@import "imports/modulo_matricula";
@import "imports/modulo_estadisticas";
@import "imports/modulo_todos";
@import "imports/modulo_navegacion";
@import "imports/modulo_navegacion_arriba";
@import "imports/botones";
@import "imports/texto";
@import "imports/elementos_compartidos";
@import "imports/base";
@import "imports/metismenu";
@import "imports/spinners";
@import "imports/rtl";
@import "imports/media";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  html, body {
    
  }

  #page-wrapper {
    margin: 0;
  }

  .no-print{
  	display:none;
  }
}
