<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-bar-chart"></i> <b>Reportes Estadísticos</b></h2>
        <ol class="breadcrumb">
            <li class="active">
                En esta sección se muestran los diferentes Reportes Estadísticos recopilados de la base de datos de la Secretaría de Educación de Honduras.
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox product-detail" [routerLink]="['/plataforma/matricula']">
                <div class="ibox-content hover-hand-border">
                        <div class="row">
                            <div class="col-md-3">
                                <img class = "request-image" src="./assets/images/matricula_general.png">
                            </div>
                            <div class="col-md-9">
                                <h2 class="font-bold m-b-xs">
                                    Reportes de Alumnos por Matrícula y Deserción
                                </h2>
                                <hr>
                                <h4>Descripción</h4>

                                <div class="text-muted">
                                    Esta sección contiene los diferentes reportes que muestran el número de estudiantes que se matricularon en base a diferentes parámetros. 
                                </div>
                                <dl class="m-t-md">
                                    <dt>Reportes</dt>
                                    <dd>Matrícula General, Matrícula por Edades, Matrícula por Grado, Matrícula por Modalidad, Etc...</dd>
                                </dl>
                            </div>
                        </div>
                </div>
            </div>
            <div class="ibox product-detail" [routerLink]="['/plataforma/rendimiento']">
                <div class="ibox-content hover-hand-border">
                    <div class="row">
                        <div class="col-md-3">
                            <img class = "request-image" src="./assets/images/matricula_edades.png">
                        </div>
                        <div class="col-md-9">
                            <h2 class="font-bold m-b-xs">
                                Reportes de Alumnos por Rendimiento Académico
                            </h2>
                            <hr>
                            <h4>Descripción</h4>

                            <div class="text-muted">
                                Esta sección contiene los diferentes reportes que muestran las estadísticas relacionadas al rendimiento académico que poseen los estudiantes en base a diferentes parámetros.
                            </div>
                            <dl class="m-t-md">
                                <dt>Reportes</dt>
                                <dd>Aprobación y Reprobación, Repitencia, Etc...</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>