<!-- Login Box-->
<div class="autentication-box text-center animated fadeInDown">
    <!-- Logo-->
    <img class = "autentication-logo" src="./assets/images/logo.png">
    <!-- Message-->
    <h3 class="autentication-title">Sistema de Alerta Temprana</h3>


    <!-- Login Form-->
    <form [formGroup]="login_form" class="m-t" role="form" novalidate="novalidate">
        <!-- Username Input-->
        <div class="form-group">
            <div [ngClass]="{'input-group':true, 'has-error':!login_form.controls['username_email'].valid && submitLogin, 'has-success':login_form.controls['username_email'].valid && submitLogin}">
                <input [formControl]="login_form.controls['username_email']" type="text" class="form-control" placeholder="Nombre de Usuario" maxlength="100">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            </div>
        </div>
        <!-- End Username Input-->

        <!-- Password Input-->
        <div class="form-group">
            <div [ngClass]="{'input-group':true, 'has-error':!login_form.controls['password'].valid && submitLogin, 'has-success':login_form.controls['password'].valid && submitLogin}">
                <input [formControl]="login_form.controls['password']" type="password" class="form-control" placeholder="Contraseña" maxlength="25">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
            </div>
        </div>
        <!-- End Password Input-->

        <!-- Login Button -->
        <button type="button" (click)="login()" class="btn btn-primary autentication-button block m-b" [ladda]="loader" data-style="slide-left"><strong>Conectarse</strong></button>

        <!-- Sign Up-->
        <p class="text-muted text-center">¿No tienes usuario?</p>
        <a type="button" class="btn btn btn-white btn-block" (click) = "loginPublic()">Ingresar como Usuario Público</a>
    </form>
    <!-- End Login Form-->
    <p class="m-t"><strong>Derechos de Autor</strong> </p><p>Secretaría de Educación de Honduras &copy; 2017</p>
</div>
<!-- End Login Box-->
<!--<img class = "right-corner animated fadeInDown" src="./assets/images/side_right.png">-->
<!--<img class = "left-corner animated fadeInDown" src="./assets/images/side_left.png">-->