<!-- Page Header -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-filter"></i> <b>Búsqueda de Centro Educativo por Filtro</b></h2>
        <ol class="breadcrumb">
            <li class="active">
                Busca la ficha de un Centro Educativo específico por medio de un filtro de localización y código de centro educativo.
            </li>
        </ol>
    </div>
</div>
<!-- End Page Header -->
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-12 well white-bg">
            
            </div>
        </div>
    </div>
</div>
